# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
openai-env/

# Configuration
.env

# Test images
label_preview.png
DatePrinter/label_preview.png
MachineReadableDice/generated_aruco_dice/
DiceWrapper/generated_dice_wrappers/
label_preview_test.png

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
label_preview.png
.env.example

#logs
Logs/
logs/
